<div class="footer-position">
  <%= render "shared/header" %>

  <div class="create-new">
    <h1>長期的な目標を設定しよう</h1>
    <%= form_for @objective, url: step2_objectives_path, method: :get do |f| %>
      <div class="field">
        <%= f.label :big_area, "習慣化する目標を決めましょう" %><br />
        <%= f.text_field :big_area, size: "60", placeholder:"例：月に３冊は本を読むようにしたい", class: "text-box" %>
      </div>

      <div class="field">
        <%= f.label :text, "設定した目標について理由を記入してみましょう（任意）" %><br />
        <%= f.text_area :text, size: "40x10" %>
      </div>

      <div class="actions">
        <%= f.submit "Next" %>
      </div>
    <% end %>
  </div>

    <%= render "shared/footer" %>
</div>
