<header class='header'>
  <div class="app-title">
    <div class="title-name">
      <a href="/", class="title-deco">
      for<span class="title">Habit</span>
      </a>
    </div>
  </div>

  <div class='nav'>
    <button type="button" id="menu-lists" class="menu-lists">メニュー</button>
    <ul class='lists-right hidden' id="lists">
      <% if user_signed_in? %>
        <li><%= link_to 'マイページ', user_path(current_user.id), class: "list mypage" %></li>
        <li><%= link_to 'アカウント情報編集', edit_user_registration_path(current_user.id), class:"list" %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "list logout" %></li>
      <% else %>
        <li><%= link_to 'ログイン', new_user_session_path, class: 'list signin' %></li>
        <li><%= link_to '新規登録', new_user_registration_path, class: 'list signup' %></li>
      <% end %>
    </ul>
  </div>
</header>


