<%= render "shared/header" %>

<div class="record-index">
  <% if @record == [] %>
    <div class="not-record">本日はまだ誰も記録していません！</div>
  <% else %>
    <% @record.each do |record| %>
      <%= record.date %>
      <%= link_to record.user.nickname, user_path(record.user.id), class: "record-user" %>
      <div class="records"><%= record.user.nickname %>さんは<%= record.data %><%= record.unit_id %>取り組みました！</div>
    <% end %>
  <% end %>

</div>
